.pic-menu
  margin-top -80px
  .container
    width 100%
    max-width desktopWidth

.pic-menu__item
  position relative
  size(100%,280px)
  background-size cover
  background-position center
  margin-bottom 10px
  &.pic-menu__review
    size(100%,566px)

.pic-menu__nav
  absolute($right:0,$left:0,$bottom:0)
  height 105px
  padding 15px 20px
  background-color rgba(#000,.7)
  a
    color #fff
    border-bottom 1px solid greyColor

.pic-menu__title
  display inline-block
  text-transform uppercase
  color #fff
  margin-bottom 10px

.pic-menu-list
  display flex
  flex-wrap wrap

.pic-menu-list__item
  margin-right 10px
  margin-bottom 10px

  &:last-child
    margin-right 0
    a
      color orangeColor
      border-bottom-color orangeColor

.pic-menu__review--content
  width 100%
  max-width 230px
  color #ffffff
  text-shadow 1px 1px black
  padding 15px

.pic-menu__review--text

  line-height 1.2

  &:after
    content ''
    display block
    size(20px,2px)
    background-color #ffffff
    margin 25px 0 30px

.pic-menu__review--title

  display block
  font-size rem(28px)
  line-height 1.3


.pic-menu__review--man

  absolute($top:-30px,$right:-30px)
  size(400px, 100%)

.pic-menu__review--bottom
  display flex
  align-items center
  absolute($right:0,$left:0,$bottom:0)
  height 105px
  padding 0px 20px
  background-color rgba(#000,.7)

.pic-menu__review--author
  text-transform uppercase
  display block

.pic-menu__review--author-work
  color orangeColor