.index-slider__item
  position relative

.index-slider__img
  width 100%


.index-slider

  &>.container
    absolute($top:0,$bottom:0,$left:50%)
    z-index 1
    transform translateX(-50%)

  .slick-dots
    absolute($bottom:300px)


    li
      margin-bottom 10px
      cursor pointer

      &:last-child
        margin-bottom 0

.index-slider__dots
  display block
  size(16px)
  border 2px solid #ffffff
  border-radius 50%

.slick-active
  .index-slider__dots
    background-color #fff

.index-slider__controls
  position absolute
  size(50px)
  background-color #fff
  cursor pointer
  z-index 1

  .icon
    absolute-center()
    size(21px,12px)

.index-slider__controls--next
  absolute($bottom:300px)

.index-slider__controls--pref
  absolute($bottom:350px)

.index-slider__content
  absolute($left:50%,$top:250px)
  transform translateX(-50%)
  width 100%
  max-width 900px
  z-index 2

.index-slider__title
  display block
  margin-bottom 50px
  font-size rem(72)
  font-family mediumFont
  line-height 1.2
  color #fff

.slider-product-info
  display flex
  margin-bottom 30px

.slider-product-info__item
  margin-right 70px

  &:last-child
    margin-right 0

.slider-product-info__title
  display block
  margin-bottom 10px
  text-transform uppercase
  font-size 15
  color orangeColor

.slider-product-info__line
  display flex
  align-items center
  color #fff
  margin-bottom 5px

  &:last-child
    margin-bottom 0
  .icon
    margin-right 20px
    fill #fff
    size(30px)

.slider-product-info__color
  margin-right 20px

.product-color
  size(30px)
  border-radius 50%
