.g-btn
  display inline-block
  height 50px
  line-height @height
  padding 0 20px
  background-color #fff
  text-transform uppercase
  text-decoration underline

.g-section-title
  margin-bottom 35px
  font-family boldFont
  font-size rem(32)
  text-align center
  &.g-section-title__white
    color #ffffff