// ЦВЕТА
redColor          = #ef4113
greyColor         = #7d7e7e

// РАЗМЕРЫ
desktopWidth      = 1280px

// ШРИФТЫ

thinFont          = 'clear_sans_thinregular', Arial, sans-serif
lightFont         = 'clear_sans_lightregular', Arial, sans-serif
mainFont          = 'clear_sansregular', Arial, sans-serif
mediumFont        = 'clear_sans_mediumregular', Arial, sans-serif
mediumItalicFont  = 'clear_sans_mediumitalic', Arial, sans-serif
boldFont          = 'clear_sans_bold', Arial, sans-serif
boldItalicFont    = 'clear_sans_boldItalic', Arial, sans-serif
italicFont        = 'clear_sans_thinregular', Arial, sans-serif
italicFont        = 'clear_sans_regularitalic', Arial, sans-serif
