section.pic-menu
    .container
        .pic-menu__line
            .pic-menu__50
                .pic-menu__line
                    .pic-menu__25
                        .pic-menu__item(style="background-image:url('static/img/content/pic-menu/furniture.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0)").pic-menu__title Мебель
                                ul.pic-menu-list
                                    +picMenuLink('javascript:void(0);', 'Кухни')
                                    +picMenuLink('javascript:void(0);', 'Столы')
                                    +picMenuLink('javascript:void(0);', 'Стулья')
                                    +picMenuLink('javascript:void(0);', 'Барная')
                                    +picMenuLink('javascript:void(0);', 'мебель')
                                    +picMenuLink('javascript:void(0);', 'Ещё 15 разделов')
                    .pic-menu__25
                        .pic-menu__item(style="background-image:url('static/img/content/pic-menu/wine.jpg')")
                            .pic-menu__nav
                                a(href="javascript:void(0)").pic-menu__title Хранение вина
                                ul.pic-menu-list
                                    +picMenuLink('javascript:void(0);', 'мебель для хранения')
                                    +picMenuLink('javascript:void(0);', 'Винные')
                                    +picMenuLink('javascript:void(0);', 'шкафы')
                                    +picMenuLink('javascript:void(0);', 'Ещё 3 раздела')
                .pic-menu__line
                    .pic-menu__item(style="background-image:url('static/img/content/pic-menu/applianses.jpg')")

            .pic-menu__item.pic-menu__item--big(style="background-image:url('static/img/content/pic-menu/big.jpg')")
                span.pic-menu-review__title Лучшая кухонная утварь у вас
                p.pic-menu-review__text lorem*2

        .pic-menu__line
        .pic-menu__line