section.recomended
    .container
        h2.g-section-title Рекомендуемые товары
        .recomended-slider
            .js-recomended-slider
                .product-prev
                    img(src="/static/img/content/products/product1/kitty.jpg").product-prev__img
                    a(href="javascript:void(0);").product-prev__title Набор бакалов для красного вина серии Frau, Shindr Mindr
                    .product-prev__line--info
                        span.product-prev__key Материал:
                        span.product-prev__val Хрустальное стекло
                    .product-prev__line--info
                        span.product-prev__key Высота:
                        span.product-prev__val 22см
                    .product-prev__line--info
                        span.product-prev__key Диаметр:
                        span.product-prev__val 10см
                    .product-prev__line--info
                        span.product-prev__key Назначение:
                        span.product-prev__val для красного вина
                    .product-prev__line--price
                        span.product-prev__price 654 &#8381;
                        .product-