section.index-slider
    .js-index-slider
        .index-slider__item
                img(src="static/img/content/main-slider/slide1.jpg" alt="Слайдер на главной странице").index-slider__img
        .index-slider__item
            img(src="static/img/content/main-slider/slide1.jpg" alt="Слайдер на главной странице").index-slider__img
        .index-slider__item
            img(src="static/img/content/main-slider/slide1.jpg" alt="Слайдер на главной странице").index-slider__img