section.index-slider
    .index-slider__controls.index-slider__controls--pref
        +icon('arrowUp')
    .index-slider__controls.index-slider__controls--next
        +icon('arrowDown')
    .js-index-slider
        each object in indexSlider
            .index-slider__item
                    img(src="static/img/content/main-slider/slide1.jpg" alt="Слайдер на главной странице").index-slider__img
                    .index-slider__content
                        if(object.title['line2'])
                        span.index-slider__title= object.title['line1']
                                br
                                | #{object.title['line2']}
